<html>
    <body>
        <h1>To do list</h1>
        <p>
            This is a super todo list!! created by Andree
        </p>
        <ul>
            {% for task in tasks %}
                {% if task.done == False %}
                    <li>{{task.title}}</li>
                    <em>{{task.notes}}</em>
                {% endif %}
            {% endfor%}
        </ul>
        <h2>Completed task</h2>
        <ul>
            {% for task in tasks %}
                {% if task.done == True %}
                    <li>{{task.title}}</li>
                    <em>{{task.notes}}</em>
                {% endif %}
            {% endfor %}
        </ul>
    </body>
</html>
